/*---------------------------------------------------------Background Settings*/
body, html {
  font-family: 'Fjalla One', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("../../assets/images/dark-abstract-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  z-index: -1;
  justify-content: center;
}

/*-----------------------------------------------------Game Interface Settings*/

.background-container {
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.game-body {
  margin-top: 35px;
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/*----------------------------------------------Navigation / Menu Bar Settings*/

.navbar {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute; 
  padding: 0;
  top: 0; 
  left: 0; 
  width: 100%;
  border-radius: 0;
  border-style: none;
  z-index: 1;
}

.navbar-default .navbar-toggle {
    border: 0;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.menu-link {
  color: #c0c0c0;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f0f8ff;
}

.instructions {
  font-family: monospace;
  padding: 10px;
}

.modal-title {
  align-items: center;
  text-align: center;
}

.modal-content {
  background-color: #0f0f0a;
  color: #fff;
  border-color: #fff;
}

.close {
  color: #708090;
  font-size: 40px;
  -webkit-transition: color 0.3s; 
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s; 
  transition: color 0.3s;
}

.close:hover {
  color: #fff;
}

/*----Adjustments I made to Bootstrap's Predefined Styles:*/
.btn-success {
  -webkit-transition: background-color 0.3s; 
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s; 
  transition: background-color 0.3s;
  border-radius: 12%;
  width : 70px;
}

.btn-success:hover {
  background-color: #008800;
}


/*--------------------------------------------------------------4 Game Buzzers*/

  /*----------------------------------------Red Buzzer Off & On Appearance*/
  .squareRed {
    height: 200px;
    width: 200px;
    background-color: #9f0f17;
    border: 7px solid #333;
    border-radius: 10%;
    cursor: pointer;
    transition: all .2s ease 0s;
    display: inline-block;
  }
  
  .squareRedLight {
    background-color: #ff6666;
  }
  
  /*----------------------------------------Blue Buzzer Off & On Appearance*/
  .squareBlue {
    height: 200px;
    width: 200px;
    background-color: #094a8f;
    border: 7px solid #333;
    border-radius: 10%;
    cursor: pointer;
    transition: all .2s ease 0s;
    margin-top: -10px;
    display: inline-block;
  }
  
  .squareBlueLight {
    background-color: #3288ff;
  }
  
  
  /*--------------------------------------Yellow Buzzer Off & On Appearance*/
  .squareYellow {
    height: 200px;
    width: 200px;
    background-color: #cca707;
    border: 7px solid #333;
    border-radius: 10%;
    cursor: pointer;
    transition: all .2s ease 0s;
    display: inline-block;
  }
  
  .squareYellowLight {
    background-color: #ffe54c;
  }
  
  
  /*--------------------------------------Green Buzzer Off & On Appearance*/
  .squareGreen {
    height: 200px;
    width: 200px;
    background-color: #00a74a;
    border: 7px solid #333;
    border-radius: 10%;
    cursor: pointer;
    transition: all .2s ease 0s;
    margin-bottom: -10px;
    display: inline-block;
  }
  
  .squareGreenLight {
    background-color: #13ff7c;
  }



/*-----------------------------------------------------------Main Control Face*/

.main-control {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  background-color: #ece7ee;
  border: 7px solid #333;
}
  
  /*---------------------------------------------------MiMiC Brand Name*/
  .brand {
    color: #222;
    font-size: 3.0em;
    margin-top : 12px;
  }
  
  .brand .symbol {
    font-size : 0.3em;
    position : relative;
    top : -20px;
  }
  
  /*--------------------------------------------------------Game Screen*/
  .count {
    font-family: 'Fjalla One', monospace;
    font-size : 2.6em;
    width : 70px;
    color : #dc0d28;
    background-color: #31060d;
    border : 4px solid #222;
    border-radius : 10px;
    margin-left: -7px;
    margin-top: -7px;
    padding-top: 2px;
  }
  
  .display {
    width : 60px;
    position: relative;
    text-align: center;
    display: inline-block;
  }

  /*------------------------------------------------------------------Buttons*/
    .round-btn {
      width: 50px;
      height: 45px;
      position: relative;
      border-radius : 50%;
      border : 4px solid #444;
      box-shadow : 0px 2px 3px #222;
      margin-left: -6px;
      top : -5px;
    }
    
    /*--------------------------------------------------------Hint Button*/
    .hint {
      margin-top: 10px;
      align-items: center;
      -webkit-transition: background-color 0.3s; 
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s; 
      transition: background-color 0.3s;
    }
    
    .hint:hover {
      background-color: #ff8c00;
    }
    
    .hint:focus {
      outline: none;
    }
    
    /*-------------------------------------------------------Start Button*/
    .start {
      margin-top: 10px;
      align-items: center;
      -webkit-transition: background-color 0.3s; 
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s; 
      transition: background-color 0.3s;
    }
    
    .start:hover {
      background-color: #008800;
    }
    
    .start:focus {
      outline: none;
    }
    
    /*------------------------------------------------------Button Labels*/
    .label-btn {
      font-size: 0.9em;
      padding-left: 1px;
    }

  /*---------------------------------------------------------Footer*/
  .footer-info {
    padding-top: 15px;
    font-size: 12px;
    color: #bdb76b;
    margin-bottom: 0;
  }

/*-----------------------------------------------------------------Media Rules*/
  
  /*------------Viewing on screen sizes with up to 475px width (E.g. Phones)*/
  @media screen and (max-width: 475px){
    .game-body {
      top: 100px;
      left: 140px;
      width: 625px;
      margin: 0 auto;
      -webkit-transform: scale(0.55);
      -moz-transform: scale(0.55);
      -ms-transform: scale(0.55);
      -o-transform: scale(0.55);
      transform: scale(0.55);
      -o-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }
  
  /*-------------------Viewing on screen sizes between 476px to 631px width*/
  @media screen and (min-width:476px) and (max-width:631px){
    .game-body {
      top: 100px;
      left: 110px;
      width: 625px;
      margin: 0 auto;
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65);
      -ms-transform: scale(0.65);
      -o-transform: scale(0.65);
      transform: scale(0.65);
      -o-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }
  
  /*-------Viewing on screen sizes with at least 632px width (E.g. Desktops)*/
  @media screen and (min-width:632px){
    .game-body {
      top: 15px;
      width: 615px;
    }
  }
  